<div class="grid">
    <div class="feature">
        <p class="h-head">The featured blog of the week.</p>
        <p class="h-desc">some description for the featured blog/caption for the feature blog</p>
        <div class="flex-row-between">
            <p class="tiny-details"> Sep 21, 2022 - Author Name</p>
            <div class="read-button-large">
                <svg width="44" height="44" viewBox="0 -1 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_i_7_40)">
                        <path
                            d="M38.5 7.95662C38.225 7.73815 37.9031 7.58639 37.5595 7.51323C37.216 7.44007 36.8602 7.4475 36.52 7.53495L23.8333 10.7983V36.9599L37.6933 33.4033C38.1891 33.2764 38.6281 32.9872 38.9404 32.5819C39.2527 32.1765 39.4204 31.6783 39.4167 31.1666V9.75329C39.411 9.40373 39.3255 9.06009 39.1666 8.74868C39.0078 8.43727 38.7797 8.16634 38.5 7.95662Z"
                            fill="#DF9595" />
                        <path
                            d="M20.1666 10.7982L7.44332 7.53491C7.10835 7.45735 6.76037 7.45494 6.42437 7.52785C6.08836 7.60075 5.77268 7.74717 5.49998 7.95658C5.2221 8.17383 4.99812 8.4523 4.84549 8.77029C4.69285 9.08828 4.61568 9.43721 4.61998 9.78991V31.1666C4.62037 31.6751 4.78991 32.1691 5.10191 32.5708C5.41391 32.9724 5.85064 33.2588 6.34332 33.3849L20.1666 36.9599V10.7982Z"
                            fill="#DF9595" />
                    </g>
                    <defs>
                        <filter id="filter0_i_7_40" x="4.61981" y="7.46336" width="34.7969" height="30.4966"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="0.5" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_7_40" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="regular one">
        <p class="p-head">Blog #1</p>
        <p class="">tiny description for the blog</p>
        <div class="flex-row-between">
            <p class="tiny-details"> Sep 22, 22</p>
            <div class="read-button-small">
                <svg width="44" height="44" viewBox="0 -1 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_i_7_40)">
                        <path
                            d="M38.5 7.95662C38.225 7.73815 37.9031 7.58639 37.5595 7.51323C37.216 7.44007 36.8602 7.4475 36.52 7.53495L23.8333 10.7983V36.9599L37.6933 33.4033C38.1891 33.2764 38.6281 32.9872 38.9404 32.5819C39.2527 32.1765 39.4204 31.6783 39.4167 31.1666V9.75329C39.411 9.40373 39.3255 9.06009 39.1666 8.74868C39.0078 8.43727 38.7797 8.16634 38.5 7.95662Z"
                            fill="#DF9595" />
                        <path
                            d="M20.1666 10.7982L7.44332 7.53491C7.10835 7.45735 6.76037 7.45494 6.42437 7.52785C6.08836 7.60075 5.77268 7.74717 5.49998 7.95658C5.2221 8.17383 4.99812 8.4523 4.84549 8.77029C4.69285 9.08828 4.61568 9.43721 4.61998 9.78991V31.1666C4.62037 31.6751 4.78991 32.1691 5.10191 32.5708C5.41391 32.9724 5.85064 33.2588 6.34332 33.3849L20.1666 36.9599V10.7982Z"
                            fill="#DF9595" />
                    </g>
                    <defs>
                        <filter id="filter0_i_7_40" x="4.61981" y="7.46336" width="34.7969" height="30.4966"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="0.5" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_7_40" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="regular two">
        <p class="p-head">Blog #2</p>
        <p class="">tiny description for the blog</p>
        <div class="flex-row-between">
            <p class="tiny-details"> Sep 23, 22</p>
            <div class="read-button-small">
                <svg width="44" height="44" viewBox="0 -1 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_i_7_40)">
                        <path
                            d="M38.5 7.95662C38.225 7.73815 37.9031 7.58639 37.5595 7.51323C37.216 7.44007 36.8602 7.4475 36.52 7.53495L23.8333 10.7983V36.9599L37.6933 33.4033C38.1891 33.2764 38.6281 32.9872 38.9404 32.5819C39.2527 32.1765 39.4204 31.6783 39.4167 31.1666V9.75329C39.411 9.40373 39.3255 9.06009 39.1666 8.74868C39.0078 8.43727 38.7797 8.16634 38.5 7.95662Z"
                            fill="#DF9595" />
                        <path
                            d="M20.1666 10.7982L7.44332 7.53491C7.10835 7.45735 6.76037 7.45494 6.42437 7.52785C6.08836 7.60075 5.77268 7.74717 5.49998 7.95658C5.2221 8.17383 4.99812 8.4523 4.84549 8.77029C4.69285 9.08828 4.61568 9.43721 4.61998 9.78991V31.1666C4.62037 31.6751 4.78991 32.1691 5.10191 32.5708C5.41391 32.9724 5.85064 33.2588 6.34332 33.3849L20.1666 36.9599V10.7982Z"
                            fill="#DF9595" />
                    </g>
                    <defs>
                        <filter id="filter0_i_7_40" x="4.61981" y="7.46336" width="34.7969" height="30.4966"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="0.5" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_7_40" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="regular three">
        <p class="p-head">Blog #3</p>
        <p class="">tiny description for the blog</p>
        <div class="flex-row-between">
            <p class="tiny-details"> Sep 24, 20</p>
            <div class="read-button-small">
                <svg width="44" height="44" viewBox="0 -1 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_i_7_40)">
                        <path
                            d="M38.5 7.95662C38.225 7.73815 37.9031 7.58639 37.5595 7.51323C37.216 7.44007 36.8602 7.4475 36.52 7.53495L23.8333 10.7983V36.9599L37.6933 33.4033C38.1891 33.2764 38.6281 32.9872 38.9404 32.5819C39.2527 32.1765 39.4204 31.6783 39.4167 31.1666V9.75329C39.411 9.40373 39.3255 9.06009 39.1666 8.74868C39.0078 8.43727 38.7797 8.16634 38.5 7.95662Z"
                            fill="#DF9595" />
                        <path
                            d="M20.1666 10.7982L7.44332 7.53491C7.10835 7.45735 6.76037 7.45494 6.42437 7.52785C6.08836 7.60075 5.77268 7.74717 5.49998 7.95658C5.2221 8.17383 4.99812 8.4523 4.84549 8.77029C4.69285 9.08828 4.61568 9.43721 4.61998 9.78991V31.1666C4.62037 31.6751 4.78991 32.1691 5.10191 32.5708C5.41391 32.9724 5.85064 33.2588 6.34332 33.3849L20.1666 36.9599V10.7982Z"
                            fill="#DF9595" />
                    </g>
                    <defs>
                        <filter id="filter0_i_7_40" x="4.61981" y="7.46336" width="34.7969" height="30.4966"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="0.5" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_7_40" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="regular four">
        <p class="p-head">Blog #4</p>
        <p class="">tiny description for the blog</p>
        <div class="flex-row-between">
            <p class="tiny-details"> Sep 25, 20</p>
            <div class="read-button-small">
                <svg width="44" height="44" viewBox="0 -1 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_i_7_40)">
                        <path
                            d="M38.5 7.95662C38.225 7.73815 37.9031 7.58639 37.5595 7.51323C37.216 7.44007 36.8602 7.4475 36.52 7.53495L23.8333 10.7983V36.9599L37.6933 33.4033C38.1891 33.2764 38.6281 32.9872 38.9404 32.5819C39.2527 32.1765 39.4204 31.6783 39.4167 31.1666V9.75329C39.411 9.40373 39.3255 9.06009 39.1666 8.74868C39.0078 8.43727 38.7797 8.16634 38.5 7.95662Z"
                            fill="#DF9595" />
                        <path
                            d="M20.1666 10.7982L7.44332 7.53491C7.10835 7.45735 6.76037 7.45494 6.42437 7.52785C6.08836 7.60075 5.77268 7.74717 5.49998 7.95658C5.2221 8.17383 4.99812 8.4523 4.84549 8.77029C4.69285 9.08828 4.61568 9.43721 4.61998 9.78991V31.1666C4.62037 31.6751 4.78991 32.1691 5.10191 32.5708C5.41391 32.9724 5.85064 33.2588 6.34332 33.3849L20.1666 36.9599V10.7982Z"
                            fill="#DF9595" />
                    </g>
                    <defs>
                        <filter id="filter0_i_7_40" x="4.61981" y="7.46336" width="34.7969" height="30.4966"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="0.5" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_7_40" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="regular five">
        <p class="p-head">Blog #5</p>
        <p class="">tiny description for the blog</p>
        <div class="flex-row-between">
            <p class="tiny-details"> Sep 26, 20</p>
            <div class="read-button-small">
                <svg width="44" height="44" viewBox="0 -1 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_i_7_40)">
                        <path
                            d="M38.5 7.95662C38.225 7.73815 37.9031 7.58639 37.5595 7.51323C37.216 7.44007 36.8602 7.4475 36.52 7.53495L23.8333 10.7983V36.9599L37.6933 33.4033C38.1891 33.2764 38.6281 32.9872 38.9404 32.5819C39.2527 32.1765 39.4204 31.6783 39.4167 31.1666V9.75329C39.411 9.40373 39.3255 9.06009 39.1666 8.74868C39.0078 8.43727 38.7797 8.16634 38.5 7.95662Z"
                            fill="#DF9595" />
                        <path
                            d="M20.1666 10.7982L7.44332 7.53491C7.10835 7.45735 6.76037 7.45494 6.42437 7.52785C6.08836 7.60075 5.77268 7.74717 5.49998 7.95658C5.2221 8.17383 4.99812 8.4523 4.84549 8.77029C4.69285 9.08828 4.61568 9.43721 4.61998 9.78991V31.1666C4.62037 31.6751 4.78991 32.1691 5.10191 32.5708C5.41391 32.9724 5.85064 33.2588 6.34332 33.3849L20.1666 36.9599V10.7982Z"
                            fill="#DF9595" />
                    </g>
                    <defs>
                        <filter id="filter0_i_7_40" x="4.61981" y="7.46336" width="34.7969" height="30.4966"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="0.5" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_7_40" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="regular six">
        <p class="p-head">Blog #6</p>
        <p class="">tiny description for the blog</p>
        <div class="flex-row-between">
            <p class="tiny-details"> Sep 27, 20</p>
            <div class="read-button-small">
                <svg width="44" height="44" viewBox="0 -1 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_i_7_40)">
                        <path
                            d="M38.5 7.95662C38.225 7.73815 37.9031 7.58639 37.5595 7.51323C37.216 7.44007 36.8602 7.4475 36.52 7.53495L23.8333 10.7983V36.9599L37.6933 33.4033C38.1891 33.2764 38.6281 32.9872 38.9404 32.5819C39.2527 32.1765 39.4204 31.6783 39.4167 31.1666V9.75329C39.411 9.40373 39.3255 9.06009 39.1666 8.74868C39.0078 8.43727 38.7797 8.16634 38.5 7.95662Z"
                            fill="#DF9595" />
                        <path
                            d="M20.1666 10.7982L7.44332 7.53491C7.10835 7.45735 6.76037 7.45494 6.42437 7.52785C6.08836 7.60075 5.77268 7.74717 5.49998 7.95658C5.2221 8.17383 4.99812 8.4523 4.84549 8.77029C4.69285 9.08828 4.61568 9.43721 4.61998 9.78991V31.1666C4.62037 31.6751 4.78991 32.1691 5.10191 32.5708C5.41391 32.9724 5.85064 33.2588 6.34332 33.3849L20.1666 36.9599V10.7982Z"
                            fill="#DF9595" />
                    </g>
                    <defs>
                        <filter id="filter0_i_7_40" x="4.61981" y="7.46336" width="34.7969" height="30.4966"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="1" />
                            <feGaussianBlur stdDeviation="0.5" />
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_7_40" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
</div>